@font-face { 
    font-family: 'Cuprum'; 
    src:
        local('Cuprum'),
        url('../fonts/cuprum.woff2') format('woff2'),   
        url('../fonts/cuprum.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal;
}

@font-face { 
    font-family: 'Cuprum'; 
    src: 
        local('Cuprum'),
        url('../fonts/cuprumbold.woff2') format('woff2'),   
        url('../fonts/cuprumbold.woff') format('woff'); 
    font-weight: bold; 
    font-style: normal;
}

@font-face { 
    font-family: 'Cuprum'; 
    src:
        local('Cuprum'),
        url('../fonts/cuprumitalic.woff2') format('woff2'),   
        url('../fonts/cuprumitalic.woff') format('woff'); 
    font-weight: normal; 
    font-style: italic;
}

@font-face { 
    font-family: 'PTSans'; 
    src:
        local('PTSans'),
        url('../fonts/ptsans.woff2') format('woff2'),   
        url('../fonts/ptsans.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal;
}

@font-face { 
    font-family: 'PTSans'; 
    src:
        local('PTSans'),
        url('../fonts/ptsansbold.woff2') format('woff2'),   
        url('../fonts/ptsansbold.woff') format('woff'); 
    font-weight: bold; 
    font-style: normal;
}

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
    font-style: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

.fill-container {
    width: inherit;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.close-button {
    background-color: transparent;
    border: none;
}

.fill-container__search-and-order {
    background-color: #293449;
}

.site-header__search-and-order {
    height: 42px;
    background-color: #293449;
    display: flex;
}

.site-header__site-logo {
    margin: 0;
    width: 220px;
    height: inherit;
    background: #ee3643;
    border-bottom: 5px solid #b52933;
}

.site-header__site-logo:hover {
    background: #ca2c37;
}

.site-header__site-logo:active {
    background: #ba2732;
}

.site-header__site-logo a {
    position: relative;
    left: 55px;
    top: 13px;
}

.site-header__search-and-order-list {
    box-sizing: border-box;
    width: 720px;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    line-height: 42px;
}

.site-header__search-field {
    width: 270px;
    box-sizing: border-box;
}

.site-header__search-field input {
    width: 270px;
    border: none;
    color: #ffffff;
    background: #293449 url('../img/icons/icon-search.svg') no-repeat;
    background-position: 17px 12px;
    line-height: 42px;
    padding: 0;
    padding-left: 48px;
}

.site-header__search-field input:hover {
    background: #212a3a url('../img/icons/icon-search-hover.svg') no-repeat;
    background-position: 17px 12px; 
}

.site-header__search-field input:active {
    background: #293449 url('../img/icons/icon-search-active.svg') no-repeat;
    background-position: 17px 12px; 
}

.site-header__search-field input:focus {
    background: #ffffff url('../img/icons/icon-search-focus.svg') no-repeat;
    background-position: 17px 12px;
    color: #000000; 
}

.site-header__search-field input::placeholder {
    color: #ffffff;
}

.site-header__search-field input:focus::placeholder {
    color: #000000; 
}

.site-header__bookmarks,
.site-header__basket { 
    box-sizing: border-box;  
    width: 150px;
}

.site-header__bookmarks {
    background: url('../img/icons/icon-bookmark.svg') no-repeat;
    background-position: 17px 12px; 
}

.site-header__bookmarks:hover {
    background: url('../img/icons/icon-bookmark-hover.svg') no-repeat;
    background-position: 17px 12px; 
}

.site-header__bookmarks:active {
    background: url('../img/icons/icon-bookmark-active.svg') no-repeat;
    background-position: 17px 12px; 
}

.site-header__basket {
    background: url('../img/icons/cart-icon.svg') no-repeat;
    background-position: 18px 12px;
    background-color: #ee3643;
}

.site-header__basket:hover {
    background: url('../img/icons/cart-icon-hover.svg') no-repeat;
    background-position: 18px 12px;
}

.site-header__basket:active {
    background: url('../img/icons/cart-icon-active.svg') no-repeat;
    background-position: 18px 12px;
}

.site-header__bookmarks:active,
.site-header__basket:active {
    background-color: #161d29;
}

.site-header__bookmarks span {
    margin-left: 44px;
}

.site-header__basket span {
    margin-left: 49px;
}

.site-header__place-order {
    width: 150px;
    box-sizing: border-box;
    text-align: center;
    line-height: 42px;
    align-self: stretch;
    background-color: #63a63e;
}

.site-header__place-order:hover {
    background: #5fbb2d;
}

.site-header__place-order:active {
    background: #518534;
}

.site-header__place-order:focus {
    background: #518534;
}

.site-header__place-order a {
    color: #ffffff;
}

.fill-container__header-navigation {
    background-color: #f2f6f8;
}

.site-header__contacts-and-user-navigation {
    display: flex;
    background-color: #f2f6f8;
    justify-content: space-between;
}

.site-header__contacts-and-user-navigation p {
    width: 195px;
    margin: 49px 71px 42px 52px;
    font-size: 16px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: rgb(238, 54, 67);
    font-style: italic;
    line-height: 1.438;
    text-align: left;
}

.site-header__contacts-and-user-navigation--catalog p {
    margin: 49px 20px 42px 52px;
}

.site-header__contacts {
    display: flex;
    flex-direction: column;
    margin-top: 47px;
}

.site-header__contacts a {
    width: 269px;
    padding-top: 10px;
    padding-bottom: 11px;
    border: 3px solid #ffffff;
    text-decoration: none;
    font-size: 21px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: rgb(233, 41, 42);
    position: relative;
    font-style: normal;
    box-sizing: border-box;
    padding-left: 70px;
    margin-right: -6px;
}

.site-header__contacts a::before {
    content: url('../img/icons/icon-phone.svg');
    text-align: left;
    position: absolute;
    left: 12px;
    top: 8px;

}

.site-header__adress {
    font-size: 14px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: rgb(50, 66, 92);
    line-height: 30px;
    text-align: center;
    font-style: normal;
    box-sizing: border-box;
    padding-left: 6px;
    padding-top: 1px;
}

.site-header__user-navigation {
    display: flex;
    align-items: flex-start;
    padding: 0;
    margin: 46px 0 0 74px;
}

.site-header__user-navigation--authorised {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 46px;
}

.site-header__user-navigation-item {
    background: #ffffff;
    text-align: center;
}

.site-header__user-navigation-item:nth-child(1) {
    width: 120px;
    box-sizing: border-box;
    margin-right: 10px;
    background: #ffffff url('../img/icons/icon-login.svg') no-repeat;
    background-position: 14px 14px;  
    padding-left: 20px;   
}

.site-header__user-navigation-item:nth-child(1):hover {
    background: #ffffff url('../img/icons/icon-login-hover.svg') no-repeat;
    background-position: 14px 14px;
}

.site-header__user-navigation-item:nth-child(1):active {
    background: #ffffff url('../img/icons/icon-login.svg') no-repeat;
    background-position: 14px 14px;
}

.site-header__user-navigation-item:nth-child(2) {
    width: 150px;
}

.site-header__user-navigation-item a {
    font-size: 21px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    display: block;
    line-height: 45px;
}

.site-header__user-navigation-item a:hover {
    color: #ee3643;
}

.site-header__user-navigation-item a:active {
    color: #b2b2b2;
}

.site-header__user-navigation-item--authorised {
    background: #ffffff;
    width: 300px;
    height: 45px;
    display: flex;
}

.site-header__user-navigation-item--user-profile {
    width: 240px;  
}

.site-header__user-navigation-item--user-profile a {
    font-size: 21px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: rgb(0, 0, 0);
    display: block;
    line-height: 45px;
    padding-left: 47px;
    box-sizing: border-box;
    background-image: url('../img/icons/icon-user.svg');
    background-repeat: no-repeat;
    background-position: 13px 13px;
}

.site-header__user-navigation-item--user-profile a:hover {
    background-image: url('../img/icons/icon-user-hover.svg');
}

.site-header__user-navigation-item--user-profile a:active {
    background-image: url('../img/icons/icon-user.svg');
    color: #b2b2b2;
}

.site-header__user-navigation-item--user-logout {
    width: 60px;
}

.site-header__user-navigation-item--user-logout a {
    line-height: 45px;
    display: block;
    background-image: url('../img/icons/icon-logout.svg');
    background-repeat: no-repeat;
    background-position: 30px 14px;
    color: #ffffff;
}

.site-header__user-navigation-item--user-logout a:hover {
    background-image: url('../img/icons/icon-logout-hover.svg');
}

.site-header__user-navigation-item--user-logout a:active {
    background-image: url('../img/icons/icon-logout.svg');
}

.site-header__user-order-and-cabinet-links {
    margin-top: 8px;
    margin-left: 18px;
    display: flex;
    align-items: center;

}

.site-header__user-order-and-cabinet-links a {
    font-size: 16px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: #32425c;
    line-height: 18px;
    font-style: normal;
    text-decoration: underline;
}

.site-header__user-order-and-cabinet-links a:hover {
    color: #ee3643;
}

.site-header__user-order-and-cabinet-links a:active {
    color: #c3c9d1;
}

.site-header__user-order-and-cabinet-links svg {
    vertical-align: middle;
    margin: 0 13px 0 15px;
}

.site-header__site-navigation {
    padding-bottom: 60px;
    background-color: #f2f6f8;
}

.site-header__site-navigation-list {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #32425c;
}

.site-header__site-navigation-item {
    text-align: center;
}

.site-header__site-navigation-item a {
    font-size: 17px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: rgb(255, 255, 255);
    font-style: normal;
    display: block;
    line-height: 51px;
    border-bottom: 5px solid #293449;
    box-sizing: border-box;
    padding: 3px 30px 0 30px;
}

.site-header__site-navigation-item:nth-child(1) a {
    padding-left: 51px;
}

.site-header__site-navigation-item:nth-child(2) a {
    padding-left: 35px;
}

.site-header__site-navigation-item:last-child a {
    padding-left: 32px;
    padding-right: 55px;
}

.site-header__site-navigation-item a:hover {
    background: #1d2739;
    border-bottom: 5px solid #1d2739;
}

.site-header__site-navigation-item a:active {
    color: #8e939c;
}

.index-main__promo {
    margin-top: 60px;
}

.index-main__promo-list-top {
    display: flex;
    justify-content: space-between;
}

.index-main__promo-item {
    width: 300px;
    height: 123px;
    position: relative;
}

.index-main__promo-item p {
    margin: 0;
    position: absolute;
    top: 22px;
    left: 22px;
    font-size: 24px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.25;
}

.index-main__promo-item a {
    width: 135px;
    height: 38px;
    position: absolute;
    top: 65px;
    left: 25px;
    font-size: 14px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 38px;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
}

.index-main__promo-item a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.index-main__promo-item a:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.index-main__promo-item--materials {
    background-color: #ffbf47;
}

.index-main__promo-item--materials::before {
    content: url('../img/icons/icon-1.svg');
    position: absolute;
    right: 43px;
    top: 31px;
}

.index-main__promo-item--materials::after {
    content: url('../img/icons/icon-new-flag.png');
    position: absolute;
    right: 0px;
    top: 0px;
}

.index-main__promo-item--tools {
    background-color: #3bbce3;

}

.index-main__promo-item--tools::before {
    content: url('../img/icons/icon-2.svg');
    position: absolute;
    right: 28px;
    top: 33px;
}

.index-main__promo-item--technics {
    background-color: #dc91d8;
}

.index-main__promo-item--technics::before {
    content: url('../img/icons/icon-3.svg');
    position: absolute;
    right: 31px;
    top: 31px;
}

.index-main__promo-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.index-main__slider {
    width: 620px;
    position: relative;
}


.index-main__slider-tagline {
    position: absolute;
    top: 23px;
    left: 24px;
}

.index-main__slider-tagline span {
    font-size: 36px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
}

.index-main__slider-tagline p {
    font-size: 18px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: rgb(255, 255, 255);
    line-height: 29px;
}

.index-main__slider-switch--previous-slide {
    position: absolute;
    top: 112px;
    left: 19px;
    background: transparent;
    border: none;
}

.index-main__slider-switch--next-slide {
    position: absolute;
    top: 112px;
    right: 14px;
    background: transparent;
    border: none;
}

.index-main__slider-slide-hidden {
    display: none;
}
.index-main__btn {
    padding: 10px 0;    
    font-size: 14px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.286;
    text-align: center;
    background: #ee3643;
    border-radius: 1px;
}

.index-main__btn:hover {
    background-color: #ca2c37; 
}

.index-main__btn:active {
    background-color: #ba2732; 
}

.index-main__btn--slider {
    width: 195px;
    position: absolute;
    bottom: 24px;
    left: 24px;
    padding-left: 3px;
}

.index-main__promo-list-bottom {
display: flex;
flex-direction: column;
justify-content: space-between;
}

.index-main__promo-item--discount {
    background: #8ed78f;
    
}

.index-main__promo-item--delivery {
    background: #ffc047;
    margin-bottom: 4px;
}

.index-main__promo-item--discount::after {
    content: url('../img/icons/icon-4.svg');
    position: absolute;
    top: 26px;
    right: 45px;
}

.index-main__promo-item--delivery::after {
    content: url('../img/icons/icon-5.svg');
    position: absolute;
    top: 32px;
    right: 31px;
}

.index-main__popular-products {
    margin-top: 50px;
}

.index-main__popular-products--headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f5f0;
    padding: 28px 24px 25px 28px;
}

.index-main__popular-products--headline h2 {
    margin: 0;
    font-size: 30px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: rgb(50, 66, 92);
    text-transform: uppercase;
    line-height: 1;
    font-weight: 400;
}

.index-main__btn--popular-products {
    width: 253px;
    padding: 10px 0;
}

.index-main__popular-products-list {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;

}

.product-card {
    width: 218px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #eaeaea;
    position: relative;
}

.product-card-new::after {
    content: '';
    width: 60px;
    height: 59px;
    background: url('../img/new-flag.png');
    position: absolute;
    right: 0;
    top: 0;

}

.product-card__name {
    width: 190px;
    margin: 10px 0 12px;
    font-size: 18px;
    font-family: 'PTSans', 'Arial', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.111;
    text-align: center;
}

.product-card__previous-price,
.product-card__price {
    font-size: 17px;
    font-family: 'PTSans', 'Arial', sans-serif;
    color: #ffffff;
    font-weight: bold;
    line-height: 18px;
    text-align: center; 
}

.product-card__previous-price {
    text-decoration: line-through;
    color: #aaaaaa;
    margin-bottom: 11px;
}

.product-card__previous-price--no-price {
    visibility: hidden;
}

.product-card__price {
    width: 141px;
    height: 38px;
    background: url('../img/icons/icon-price.svg') no-repeat;
    box-sizing: border-box;
    padding: 10px 0;
    margin-bottom: 20px;
    margin-left: 3px;
}

.product-card__add-to-bookmarks-and-order {
    width: 135px;
    position: absolute;
    top: 44px;
    left: 41px;
    visibility: hidden;
}

.product-card:hover {
    box-shadow: 0 0 20px #d7d9dd;
}
.product-card:hover img {
    visibility: hidden;
}

.product-card:hover .product-card__add-to-bookmarks-and-order {
    visibility: visible;
}

.product-card-btn {
    width: inherit;
    font-size: 14px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: #ffffff;
    line-height: 35px;
    box-sizing: border-box;
    padding: 0;
    border: none;
}

.product-card-btn__order {
    background: #63a63e url('../img/icons/cart-icon(product-card).svg') no-repeat;
    background-position: 12px 11px;
    border-bottom: 3px solid #367315;
    margin-bottom: 7px;    
}

.product-card-btn__order:hover {
    background: #5fbb2d url('../img/icons/cart-icon-hover(product-card).svg') no-repeat;
    background-position: 12px 11px;
}

.product-card-btn__order:active {
    background: #518534 url('../img/icons/cart-icon-hover(product-card).svg') no-repeat;
    border-bottom: 3px solid #518534;
    background-position: 12px 11px;
}

.product-card-btn__add-to-bookmarks {
    background: #ffffff;
    border: 3px solid #63a63e;
    color: #32425c;    
}

.product-card-btn__add-to-bookmarks:hover {
    border: 3px solid #32425c;
}

.product-card-btn__add-to-bookmarks:active {
    border: 3px solid #32425c;
    opacity: 0.3;
}


.index-main__popular-producers {
    margin-top: 18px;
}

.index-main__popular-producers--headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f5f0;
    padding: 30px 24px 25px 29px;
}

.index-main__popular-producers--headline h2 {
    margin: 0;
    font-size: 30px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: rgb(50, 66, 92);
    text-transform: uppercase;
    line-height: 1;
    font-weight: 400;
}

.index-main__btn--popular-producers {
   width: 253px;
}

.index-main__popular-producers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    
}

.index-main__popular-producers-item {
    height: 143px; 
    border: 1px solid #eaeaea;
    flex-basis: 218px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.index-main__popular-producers-item:nth-child(4) a {
    padding-bottom: 10px;
}

.index-main__popular-producers-item:nth-child(8) a {
    padding-bottom: 6px;
    padding-left: 3px;
}

.index-main__popular-producers-item:hover {
    border: 1px solid transparent;
    box-shadow: 0px 5px 30px #a9adb5;
}

.index-main__popular-producers-item:active {
    border: 1px solid transparent;
    box-shadow: 0px 5px 15px #a9adb5;
    opacity: 0.5;
}

.fill-container__index--services {
    background: #f4f8f9;
}

.index-main__services {
    padding: 68px 10px 99px;
    margin-top: 62px;
    background: #f4f7f9;
    position: relative;
}

.index-main__services--headline {
    margin: 0;
    font-size: 30px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 1;
    font-weight: 400;
}

.index-main__services p {
    width: 356px;
    margin-top: 26px;
    font-size: 13px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: #000000;
    line-height: 24px;
}

.index-main__services-list {
    margin-top: 71px;
}

.index-main__services-item {
    width: 240px;
    position: relative;
}

.index-main__service-button {
    width: inherit;
    padding: 0 0 0 23px;
    background: #32425c;
    border: none;
    border-bottom: 1px solid #293449;
    font-size: 21px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 60px;
    text-align: left;
}

.index-main__service-button:hover {
    background: #293449;
}

.index-main__service-button:focus {
    color: #32425c;
    background: #ffffff;
    outline-width: 0;
}

.index-main__services-item h3 {
    margin: 0;
    margin-bottom: 24px;
    font-size: 36px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: #32425c;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
}

.index-main__services-item p {
    width: 255px;
    margin: 0;
}

.index-main__services-delivery-annotation {
    position: absolute;
    width: 248px;
    top: -4px;
    left: 321px;
    
}

.index-main__services-delivery-annotation::after {
    content: '';
    position: absolute;
    width: 468px;
    height: 261px;
    background: url('../img/service-1.png') no-repeat;
    top: 26px;
    right: -370px;
}

.index-main__services-guarantee-annotation {
    position: absolute;
    width: 248px;
    top: -63px;
    left: 321px;
    display: none;
}

.index-main__services-guarantee-annotation::after {
    content: '';
    position: absolute;
    width: 389px;
    height: 283px;
    background: url('../img/service-3.png') no-repeat;
    top: 0px;
    right: -370px;
}

.index-main__services-credit-annotation {
    position: absolute;
    width: 248px;
    top: 0px;
    left: 321px;
    display: none;
}

.index-main__btn--service-credit {
    width: 195px;
    margin-top: 27px;
    border: none;
}

.index-main__services-credit-annotation::after {
    content: '';
    position: absolute;
    width: 465px;
    height: 285px;
    background: url('../img/service-2.png') no-repeat;
    top: 26px;
    right: -370px;
}

.index-main__abous-us-and-contacts {
    position: relative;
}

.index-main__abous-us-and-contacts {
    padding: 80px 10px 86px ;
    display: flex;
    justify-content: space-between;
}

.index-main__abous-us h2,
.index-main__contacts h2 {
    margin: 0;
    font-size: 30px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 26px;
    font-weight: 400;
}

.index-main__abous-us p,
.index-main__contacts p {
    font-size: 13px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: #000000;
    line-height: 24px;
    white-space: pre;
}

.index-main__abous-us p:first-of-type {
    margin-bottom: 24px;
}

.index-main__partners-list {
margin-top: 21px;
margin-left: 35px;
}

.index-main__partners-item {
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: #000000;
    line-height: 20px;
    position: relative;
}

.index-main__partners-item:last-child {
    margin: 0;
}

.index-main__partners-item svg {
    position: absolute;
    left: -35px;
    top: 7px;
}

.index-main__btn--about-us {
    display: inline-block;
    margin-top: 37px;
    padding: 10px 40px;
}

.index-main__contacts {
    display: flex;
    flex-direction: column;
}

.index-main__contacts a:first-of-type {
    margin-top: 30px;
}

.index-main__btn--contacts {
    padding: 10px 59px 10px 63px;
    margin-top: 38px;
}

.index-main__write-us-popup {
    width: 620px;
    position: fixed;
    top: 25%;
    left: 30%;
}

.index-main__write-us-form {
    position: relative;
    border-top: 7px solid #ff5257;
}

.index-main__write-us-form-fill-container {
    padding: 43px 80px 0 80px;
    background: #ffffff;
}

.index-main__write-us-form--mail-and-name {
    display: flex;
    justify-content: space-between;
}

.index-main__write-us-form--field-container,
.index-main__write-us-form--letter-content-container {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: #000000;
    line-height: 18px;
}


.index-main__write-us-form input,
.index-main__write-us-form--letter-content-container textarea {
    box-sizing: border-box;
    width: 220px;
    border: 2px solid #dee3e4;
    font-size: 13px;
    font-family: 'PTSans', 'Arial', sans-serif;
    color: #a9a9a9;
    line-height: 18px;
    font-weight: 400;
    padding: 8px 0 8px 14px;
    margin-top: 13px;
}

.index-main__write-us-form input:hover,
.index-main__write-us-form--letter-content-container textarea:hover {
    border: 2px solid #ee3643;
}

.index-main__write-us-form--letter-content-container {
    display: flex;
    flex-direction: column;
    margin-top: 17px;
}

.index-main__write-us-form--submit-fill-container {
    background: #f4f4f4;
    padding: 37px 80px;
}

.index-main__write-us-form--submit-fill-container button {
    width: 460px;
    height: 38px;
    background: #ee3643;
    font-size: 14px;
    color: #fef2f2;
    border: 0;
    padding: 0;
}

.index-main__write-us-form--submit-fill-container button:hover {
    background: #ca2c37;
}

.index-main__write-us-form--letter-content-container textarea {
   width: inherit;
   background: none;
}

.index-main__write-us-form__close-button {
    position: absolute;
    top: 9px;
    right: 9px;
}

.index-main__map-popup {
    position: fixed;
    top: 10%;
    left: 18%;
    background: url('../img/map-popup.png') no-repeat;
    background-size: cover;
    width: 970px;
    height: 476px;
}

.index-main__map-popup-fill-container {
    width: inherit;
    height: inherit;
    position: relative;
}

.index-main__map-popup__close-button {
    position: absolute;
    top: 25px;
    right: 25px;
}

.fill-container__footer--logo-and-navigation {
    background: #32425c;

}

.site-footer__logo-and-navigation {
    background: #32425c;
    display: flex;
    justify-content: space-between;
}

.site-footer__logo-and-adress {
    display: flex;
    flex-direction: column;
}

.site-footer__logo-and-adress a {
    margin: 0;
    width: 220px;
    height: 69px;
    text-align: center;
    line-height: 63px;
    background: #ee3643;
    border-bottom: 5px solid #b52933;
    box-sizing: border-box;
    padding-top: 6px;
}

.site_footer__adress {
    font-size: 18px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: rgb(243, 247, 249);
    line-height: 1.333;
    white-space: pre;
    margin-top: 26px;
    margin-bottom: 53px;
    font-style: normal;
    margin-left: 3px;
}

.site-footer__navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.site-footer__navigation-top-list,
.site-footer__navigation-bottom-list {
    display: flex;
    justify-content: space-between;
    
}

.site-footer__navigation-top-list {
    width: 547px;
    margin-top: 38px;
}

.site-footer__navigation-bottom-list {
    width: 525px;
    margin-bottom: 76px;
}

.site-footer__navigation-item a {
    font-size: 18px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: rgb(243, 247, 249);
    line-height: 1.333;
}

.site-footer__navigation-item a:hover {
    text-decoration: underline;
}

.site-footer__navigation-item a:active {
    color: #929caa;
}

.site-footer__navigation-item--bottom a {
    color: #ffd180;
}

.site-footer__navigation-item--bottom a:active {
    color: #998a6e;
}
.fill-container__footer--social {
    background: #293449;
}

.site-footer__social {
    padding: 35px 0 37px 0;
    background: #293449;
    display: flex;
    font-size: 16px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: rgb(243, 247, 249);
    line-height: 18px;

}

.site-footer__social p {
    white-space: pre;
}

.site-footer__social-icons-list {
    width: 130px;
    display: flex;
    justify-content: space-between;
    margin-left: 158px;
    margin-right: 119px;
}

.site-footer__social-icons-item {
    width: 40px;
    height: 40px;
    background: #212a3a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.site-footer__social-icons-item:hover,
.site-footer__social-icons-item:active {
    background-color: #ee3643;
}

.site-footer__social-icons-item a {
    display: block;
    width: inherit;
    height: inherit;
    line-height: 40px;
    text-align: center;
    padding-top: 8px;
}

.site-footer__feedback-list {
    display: flex;
}

.site-footer__feedback-item:first-child {
    margin-right: 51px;
}

.site-footer__feedback-item a {
    color: #ffd180;
    line-height: 18px;
     
}

.site-footer__feedback-item a:hover {
    text-decoration: underline;
}

.site-footer__feedback-item a:active {
    color: #ee3643;
    text-decoration: none;
}

/* C этого места идет стилизация catalog.html */

.catalog-main__breadcrumbs {
    display: flex;
    
} 

.catalog-main__breadcrumbs {
    margin: 21px auto;
    position: relative;
}

.catalog-main__breadcrumbs,
.catalog-main__breadcrumbs a {
    font-size: 13px;
    font-family: 'PTSans', 'Arial', sans-serif;
    color: #000000;
    text-transform: uppercase;
    line-height: 18px;
}

.catalog-main__breadcrumbs li {
    margin-right: 15px; 
}

.catalog-main__breadcrumbs::before {
    content: url('../img/icons/icon-home.svg');
    width: 14px;
    height: 12px;
    margin-right: 15px;
}

.catalog-main__breadcrumbs li:before {
    content: url('../img/icons/icon-right-small.svg');
    width: 8px;
    height: 12px;
    margin-right: 18px;
}

.catalog-main h1 {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 30px;
    background: #f2f6f8;
    font-size: 30px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: #32425c;
    text-transform: uppercase;
    line-height: 30px;
    font-weight: 400;
}

.catalog-main__filters-and-products {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.catalog-main__filters {
    width: 220px;
    font-family: 'PTSans', 'Arial', sans-serif;
    color: #000000;
    text-transform: uppercase;
    margin-right: 20px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.catalog-main__filters legend {
    font-family: 'PTSans', 'Arial', sans-serif;
    font-size: 17px;
    line-height: 30px;
    padding: 12px 0;
    font-weight: bold;

}
.catalog-main__filters h2 {
    display: block;
    margin: 0;
    background: #f7f3ec;
    font-size: 13px;
    line-height: 38px;
    font-weight: 400;
    padding-left: 19px;
}

.price-range-field-container {
    padding: 28px 20px;
    background: #f7f3ec;
    
}

#price-range-field {
    width: 180px;
    
}

.catalog-main__min-and-max-price-fields {
    display: flex;
    justify-content: space-between;
    margin-top: 9px;
    margin-bottom: 25px;
}

.min-price-field-container,
.max-price-field-container {
    width: 95px;
    background: #f7f3ec;
    font-family: 'PTSans', 'Arial', sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    padding: 8px 0;
}

.catalog-main__min-and-max-price-fields input {
    width: inherit;
    background: #f7f3ec;
    border: none;
    color: #000000;
}

.catalog-main__min-and-max-price-fields input:hover,
.catalog-main__min-and-max-price-fields input:focus {
    outline: 0;
}

.catalog-main__price-filter,
.catalog-main__producer-filter {
    border-bottom: 1px solid #e5e5e5;
}

.catalog-main__price-filter {
    margin-bottom: 5px;
}

.catalog-main__producer-filter {
    margin-bottom: 7px;
}


.catalog-main__producer-filter-list li {
    padding-left: 35px;
    position: relative;
    height: 23px;
    margin-bottom: 17px;
    line-height: 23px;
    margin-bottom: 17px;
    line-height: 23px;
}

.catalog-main__producer-filter-list li:last-child {
    margin-bottom: 21px;
}

.catalog-main__producer-filter-list input {
    display: none;
}

.catalog-main__producer-filter-list label::before {
    content: url('../img/icons/checkbox-off.svg');
    position: absolute;
    left: 0px;
}

.catalog-main__producer-filter-list input:checked + label::before {
    content: url('../img/icons/checkbox-on.svg');
    position: absolute;
    left: 0px;
}

.catalog-main__producer-filter-list input:disabled + label {
    color: #b4b4b4;
}

.catalog-main__producer-filter-list input:disabled + label::before {
    content: url('../img/icons/checkbox-off-disabled.svg');
    position: absolute;
    left: 0px;
}

.catalog-main__producer-filter-list input:checked:disabled + label::before {
    content: url('../img/icons/checkbox-on-disabled.svg');
    position: absolute;
    left: 0px;
}

.catalog-main__power-supply-filter-list li {
    padding-left: 35px;
    position: relative;
    height: 25px;
    margin-bottom: 16px;
    line-height: 25px;
}

.catalog-main__power-supply-filter-list input {
    display: none;
}

.catalog-main__power-supply-filter-list label::before {
    content: url('../img/icons/radio-off.svg');
    position: absolute;
    left: 0px;
}

.catalog-main__power-supply-filter-list input:checked + label::before {
    content: url('../img/icons/radio-on.svg');
    position: absolute;
    left: 0px;
}

.catalog-main__filters--submit {
    margin: 0;
    margin-top: 58px;
    padding: 9px 35px;
    border: 1px solid #e5e5e5;
    background: none;
}

.catalog-main__products {
    display: flex;
    flex-direction: column;
    
}
.catalog-main__sorting-list {
    display: flex;
    background: #f7f3ec;
}

.catalog-main__sorting-item ,
.catalog-main__sorting-item a {
    font-family: 'PTSans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 38px;
    color: #000000;
    text-transform: uppercase;   
}

.catalog-main__sorting-item a {
    color: #b6b3ae;
}

.catalog-main__sorting-item a:hover {
    color: #000000;
}

.catalog-main__sorting-item a:active {
    color: #ee3643;
}

.catalog-main__sorting-button--ascending,
.catalog-main__sorting-button--descending {
    background: none;
    border: none;
    width: 11px;
    height: 10px;
    padding: 0;
}

.catalog-main__sorting-button--ascending {
    margin-right: 16px;
    background: url('../img/icons/icon-up-dir.svg') no-repeat;
}

.catalog-main__sorting-button--ascending:hover {
    margin-right: 16px;
    background: url('../img/icons/icon-up-dir-hover.svg') no-repeat;
}

.catalog-main__sorting-button--ascending:active {
    margin-right: 16px;
    background: url('../img/icons/icon-up-dir-active.svg') no-repeat;
}

.catalog-main__sorting-button--descending {
    background: url('../img/icons/icon-down-dir.svg') no-repeat;
}

.catalog-main__sorting-button--descending:hover {
    background: url('../img/icons/icon-down-dir-hover.svg') no-repeat;
}

.catalog-main__sorting-button--descending:active {
    background: url('../img/icons/icon-down-dir-active.svg') no-repeat;
}

.catalog-main__sorting-item:nth-child(1) {
    padding: 0 140px 0 19px; 
}

.catalog-main__sorting-item:nth-child(2) {
    padding-right: 72px; 
}

.catalog-main__sorting-item:nth-child(3) {
    padding-right: 65px; 
}

.catalog-main__sorting-item:nth-child(4) {
    padding-right: 46px; 
}

.catalog-main__products-list {
    display: flex;
    flex-wrap: wrap; 
}

.product-card--catalog {
    margin-top: 20px;
}

.product-card--catalog:not(:nth-child(3n)) {
    margin-right: 20px;
} 

.catalog-main__paginator {
    margin-top: 47px;
    margin-bottom: 60px;
}

.catalog-main__paginator-item {
    display: inline-block;
    font-family: 'PTSans', 'Arial', sans-serif;
    font-size: 13px;
    color: #000000;
    width: 37px;
    height: 37px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #e5e5e5;
    margin-right: 5px;
}

.catalog-main__paginator-item--next {
    width: 140px;
    margin-right: 0;
}

.catalog-main__paginator-item:hover {
    border: 1px solid #bdc6ca;
}

.catalog-main__paginator-item:active {
    border: 1px solid #ee3643;
}

.catalog-main__paginator-item:focus {
    background: #ee3643;
    color: #fac9cd;
}

.catalog-main__card-popup {
    width: 620px;
    border-top: 7px solid #ee3643;
    position: fixed;
    top: 25%;
    left: 30%;
}

.catalog-main__card-popup--add-to-card-message-container {
    position: relative;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 30px;
    color: #000000;
    line-height: 30px;
    display: flex;
    align-items: center;
    padding: 49px 0;
    background: #ffffff;
}

.catalog-main__card-popup--add-to-card-message-container > img {
    margin-right: 32px;
    margin-left: 80px;
}

.catalog-main__card-popup--add-to-card-message-container button {
    position: absolute;
    top: 9px;
    right: 9px;
    background-color: transparent;
    padding: 0;
    border: 0;
    line-height: 0;
}

.catalog-main__card-popup-buttons {
    background: #f1f1f1;
    font-size: 14px;
    line-height: 38px;
    display: flex;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    padding: 37px 80px;
}

.catalog-main__card-popup-buttons a {
    display: block;
    width: 220px;
    color: #ffffff;
    background: #ee3643;
    margin-right: 20px;
}

.catalog-main__card-popup-buttons a:hover {
    background: #ca2c37;
}

.catalog-main__card-popup--continue-button {
    width: 220px;
    background: #ffffff;
    color: #000000;
    border: none;
    padding: 0;
}

.catalog-main__card-popup--continue-button:hover {
    border: 2px solid #ee3643;
}

.fill-container__catalog-main--product-info {
    background: #f2f6f8;
}
.catalog-main__product-info {
    padding: 67px 59px 72px 59px;
}

.catalog-main__product-info h2 {
    font-size: 30px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: #000000;
    text-transform: uppercase;
    line-height: 30px;
    font-weight: 400;
    margin: 0;
}

.catalog-main__product-info p {
    font-size: 13px;
    font-family: 'PTSans', 'Arial', sans-serif;
    color: #000000;
    line-height: 24px;
    text-align: justify;
    margin-top: 22px;

}

















